/* dashboard css starts here */

.centered {
  display: flex;
  flex-wrap: wrap; /* Ensure elements wrap to next line if there's not enough space */
  justify-content: space-between; /* Distribute items evenly along the main axis */
}

.appointmentReport {
  flex: 0 0 48%; /* Set width to 48% to leave space for the other column */
  border: 1px solid black;
  padding: 25px;
}

.column {
  float: left;
  width: 33.33%;
  padding: 15px;
}

.customerReport {
  flex: 0 0 48%; /* Set width to 48% to leave space for the other column */
  border: 1px solid black;
  padding: 25px;
}

.th,
td {
  padding-left: 15px;
  padding-right: 15px;
}

/* Update the table styling to remove white background and center headers */
.w3-table {
  border-collapse: collapse;
  width: 100%;
}

.w3-table th,
.w3-table td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
  background-color: transparent; /* Set background color to transparent */
  text-align: center;
}

.w3-table th {
  padding-top: 12px;
  padding-bottom: 12px;
  background-color: #333; /* Header background color */
  color: white;
  text-align: center; /* Center align header text */
}

/* dashboard css ends here */
