/* dashboard css starts here */

.centered {
  display: flex;
  flex-wrap: wrap; /* Ensure elements wrap to next line if there's not enough space */
  justify-content: space-between; /* Distribute items evenly along the main axis */
}

.appointmentReport {
  flex: 0 0 48%; /* Set width to 48% to leave space for the other column */
  border: 1px solid black;
  padding: 25px;
}

.column {
  float: left;
  width: 33.33%;
  padding: 15px;
}

.customerReport {
  flex: 0 0 48%; /* Set width to 48% to leave space for the other column */
  border: 1px solid black;
  padding: 25px;
}

.th,
td {
  padding-left: 15px;
  padding-right: 15px;
}

/* dashboard css ends here */
